.noResults {
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: x-large;
}

.cardsContainer {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 48%));
    justify-content: center;
    gap: 1rem;
}
