.promptBoxBig button {
    padding: 1.5rem 2.5rem;
    font-size: x-large;
}

.reviewsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reviewSlideContainer {
    padding: 2rem 5rem 2rem;
}

@media (max-width: 640px) {
    .reviewSlideContainer {
        padding: 1rem 0 1rem;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}