.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--shadow-md);
}

.slidesContainer {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    transition: left 1s ease-in-out, opacity 3s;
}

.container button {
    opacity: 0.35;
    outline: none !important;
    user-select: none;
}

.container button:not([disabled]) {
    cursor: pointer;
}

.container button:not([disabled]):active,
.container button:not([disabled]):hover {
    opacity: 0.8;
}

.arrowButton {
    position: absolute;
    z-index: 1;
    font-size: x-large;
    font-weight: 800;
    background-color: transparent;
    transition: all 0.3s 0.1s;
    cursor: pointer;
}

.leftArrow {
    composes: arrowButton;
    left: 0;
}

.rightArrow {
    composes: arrowButton;
    right: 0;
}

.navDots {
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.35rem;
}

.navDots button {
    padding: 0;
    background: none;
    border: none;
    font-size: large;
    transition: all 0.3s 0.1s;
}

.navDots button.activeDot {
    opacity: 0.8;
}

@media (max-width: 640px) {
    .navDots {
        display: none;
    }
}