.container {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-back-2);
}

.contactLinks {
    display: flex;
    gap: 0.25rem;
}

.contactLinks svg {
    width: 2rem;
    height: 2rem;
    fill: var(--c-primary);
}

.copyright {
    font-weight: var(--font-semibold);
    color: var(--c-primary);
}