.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .container {
        display: none;
    }
}

.container a {
    text-transform: uppercase;
    font-family: var(--font-display);
    font-size: x-large;
    color: var(--c-primary);
    transition: all 0.2s 0.1s ease-in-out;
}

.container a.selected {
    color: var(--c-secondary);
}