.toggleButton {
    display: none;
    width: min-content;
    height: min-content;
    padding: 0;
    background-color: transparent;
    color: var(--c-primary);
    cursor: pointer;
    outline: none !important;
}

.toggleButton svg {
    width: 2rem;
    height: 2rem;
}

.menuContainer {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--headerbar-height));
    background-color: var(--c-back);
}

@media (max-width: 768px) {
    .toggleButton, .menuContainer {
        display: flex;
    }
}
