.container {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-family: Lilita One;
    font-size: inherit;
    font-weight: 700;
    user-select: none;
}

.firstName {
    font-size: 2em;
    color: var(--c-primary);
}

.lastName {
    font-size: 1em;
    /* color: hsl(0, 0%, 100%, 95%); */
    background-color: var(--c-primary);
    color: var(--c-back);
    border-radius: 1.5rem;
}
