.container {
    object-fit: cover;
    height: 18rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: fade 0.5s 0.1s forwards, scaleOut 1s;
}

.small {
    display: none;
}

@media (max-width: 640px) {
    .container {
        height: 12rem;
    }
    .large {
        display: none;
    }
    .small {
        display: flex;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}