.container {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 0.35rem;
    background-color: var(--c-back-2);
    box-shadow: var(--shadow-md);
}

.bar {
    height: inherit;
    background-color: var(--lime-400);
    transition: background-color 0.2s;
}

.full .bar {
    background-color: var(--lime-300);
}

:global(.dark-mode) .bar {
    background-color: var(--lime-600);
}

:global(.dark-mode) .full .bar {
    background-color: var(--lime-500);
}