.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
    
.container svg {
    width: 3rem;
    height: 3rem;
    transition: width 0.3s, height 0.3s;
}

.container span {
    font-size: large;
    font-weight: 400;
}