.container {
    height: 100%;
    overflow: hidden;
    border-radius: 1rem 2rem 1rem;
    background-color: var(--c-back-2);
    box-shadow: var(--shadow-md);
    font-size: var(--text-xl);
    transition: all 0.3s 0.1s;
    opacity: 0;
    animation: fade 0.5s 0.1s forwards, scaleIn 1s;
}

.container:active,
.container:hover {
    box-shadow: var(--shadow-lg);
}

.heading {
    padding: 0.75rem 1.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow-sm);
    font-weight: var(--font-semibold);
    color: var(--c-primary-2);
}

.level {
    text-transform: uppercase;
    font-size: var(--text-base);
}

.level.basic {
    color: var(--lime-500);
}

.level.intermediate {
    color: var(--cyan-500);
}

.level.advanced {
    color: var(--amber-500);
}

.body {
    padding: 0.5rem 1.5rem 0.75rem;
    font-weight: var(--font-normal);
}

.body::after {
    content: " →";
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}