.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 48%));
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: minmax(0, 30rem);
    }
}