.container {
    position: relative;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--c-back-2);
}

@media (max-width: 640px) {
    .container {
        flex-direction: column;
    }
}

.profilePic {
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    min-height: 10rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}

.authorName {
    font-size: larger;
    font-weight: 600;
    color: var(--c-secondary);
}

.authorDesc p {
    margin: 1rem 0;
    text-indent: unset !important;
    font-weight: 400;
}