.toolbar {
    margin: 0 0 2rem;
    display: flex;
    gap: 1rem;
    box-shadow: var(--shadow-sm);
}

.toolbar .searchContainer {
    flex: 2;
    display: flex;
}

.toolbar .searchContainer button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toolbar .searchContainer input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}

.toolbar select {
    flex: 1;
}

.toolbar input,
.toolbar select {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-inner);
}

@media (max-width: 640px) {
    .toolbar {
        flex-direction: column;
    }
}

.postsGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.postsGrid :first-child {
    grid-column: span 2;
}

@media (max-width: 1024px) {
    .postsGrid {
        grid-template-columns: 1fr;
    }

    .postsGrid :first-child {
        grid-column: unset;
    }
}

.actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}