.heading {
    margin: 1rem 0;
    text-align: left;
    transform-origin: left;
}

.postDescription {
    margin: 2rem 0;
    font-style: italic;
    opacity: 0;
    animation: fade 1s 0.1s forwards;
}

.infoContainer {
    padding-top: 1rem;
    border-top: 2px solid var(--c-back-3);
}

.coverImageContainer {
    margin-top: 1rem;
    opacity: 0;
    animation: fade 0.5s 0.1s forwards, scaleIn 1s;
}

.postFooter {
    /* margin-top: 2rem; */
    padding-top: 2rem;
    border-top: 2px solid var(--c-back-3);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.postCardCoverContainer {
    min-height: 12rem;
}

@media (max-width: 1024px) {
    .postFooter {
        grid-template-columns: repeat(2, 1fr);
    }

    .postFooter> :nth-child(n+3) {
        display: none;
    }

    .postCardCoverContainer {
        min-height: 14rem;
    }
}

@media (max-width: 768px) {
    .postFooter {
        grid-template-columns: 1fr;
    }

    .postFooter> :nth-child(n+2) {
        display: none;
    }

    .postFooter> :first-child {
        width: 100%;
        max-width: 25rem;
        margin: 0 auto;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}