@import "./pseudo-tailwind-preflight.css";
@import "./pseudo-tailwind.css";
@import "./pseudo-tailwind2.css";
@import "./hljs/vs2015.css";

@font-face {
  font-family: "Lilita One";
  src: url("./fonts/LilitaOne-Regular.ttf");
}

:root {
  --c-primary: var(--zinc-900);
  --c-secondary: var(--green-700);
  --c-link: var(--orange-600);
  --c-link-hover: var(--orange-500);
  /* --c-primary: red;
  --c-secondary: blue; */
  --header-height: 7.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  color: var(--c-primary);
}

@media (max-width: 768px) {
  body.mobile-menu-visible {
      overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

* {
  box-sizing: border-box;
}

div[data-nextjs-scroll-focus-boundary] {
  flex: 1;
}

hr {
  border-top: 2px solid var(--neutral-200);
}
