.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1.75rem;
    font-family: inherit;
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
    box-shadow: var(--shadow-md);
    border-radius: 1rem;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s 0.1s ease-in-out;
}

.btn:active,
.btn:hover {
    box-shadow: var(--shadow-lg);
}

.pageContainer {
    max-width: var(--lg);
    margin: 0 auto;
    padding: 3rem 5rem;
    font-size: x-large;
    font-weight: 300;
}

@media (max-width: 1024px) {
    .pageContainer {
        max-width: var(--md);
        padding: 2rem;
    }
}

@media (max-width: 640px) {
    .pageContainer {
        padding: 1.5rem;
    }
}

.pageContainer section {
    animation: fade 0.5s, moveUp 1s;
}

.pageContainer section+section {
    margin-top: 4rem;
}

.heading, .pageContainer h1 {
    /* DOUBLER AVEC H1 une fois le composes parti */
    margin-bottom: 2rem;
    text-align: center;
    font-size: var(--text-5xl);
    font-weight: var(--font-semibold);
    color: var(--c-secondary);
    filter: var(--drop-shadow-md);
    animation: fade 0.5s, scaleIn 0.5s;
}

.subheading, .pageContainer h2 {
    /* DOUBLER AVEC H2 une fois le composes parti */
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: var(--text-4xl);
    font-weight: var(--font-semibold);
    color: var(--c-secondary);
    filter: var(--drop-shadow-md);
    animation: fade 0.5s, scaleIn 0.5s;
}

.inlineSubheading {
    display: inline;
    font-size: var(--text-3xl) !important;
    font-weight: var(--font-semibold);
    color: var(--c-secondary);
    filter: var(--drop-shadow-md);
    animation: fade 0.5s, scaleIn 0.5s;
}

.inlineSubheading+p {
    /* display: inline; */
    margin-top: 0.25rem !important;
}
/* 
.inlineSubheading+p::before {
    content: " ";
} */

.pageContainer p {
    margin: 1rem 0;
    line-height: 1.5;
    text-align: justify;
}

.pageContainer p:first-of-type {
    text-indent: 1rem;
}

.pageContainer p a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-weight: var(--font-normal);
    color: var(--c-link);
    transition: all 0.3s 0.1s;
}

.pageContainer p a:active,
.pageContainer p a:hover {
    /* text-decoration: underline; */
    color: var(--c-link-hover);
    border-color: var(--c-link-hover);
}

.pageContainer p svg {
    display: inline;
    vertical-align: baseline;
}

.pageContainer strong,
.pageContainer b,
.pageContainer label {
    font-weight: 400;
}

.pageContainer form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pageContainer form button {
    width: fit-content;
    align-self: center;
}

.pageContainer input, .pageContainer textarea {
    padding: 0.5rem;
    border: 1px solid var(--neutral-500);
    border-radius: 0.25rem;
    resize: none;
    box-shadow: var(--shadow-inner);
    font-family: unset;
    font-size: inherit;
}

.pageContainer ul {
    margin: 1em 0;
    padding-inline-start: 2.5rem;
    list-style-type: disc;
}

.promptBox {
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    opacity: 0;
    animation: fade 0.5s 0.1s forwards, scaleIn 1s;
}

.promptGrid {
    composes: promptBox;
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 20rem));
    opacity: 0;
    animation: fade 0.5s 0.1s forwards, scaleIn 1s;
}

@media (max-width: 640px) {
    .promptBox {
        flex-direction: column;
        align-items: center;
    }

    .promptBox a,
    .promptBox button {
        width: 100%;
    }

    .promptGrid {
        grid-template-columns: minmax(10rem, 20rem);
    }
}

.promptGrid button,
.promptGrid a {
    display: flex;
    width: 100%;
    height: 100%;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(2rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}