@import "./pseudo-tailwind-preflight.css";
@import "./pseudo-tailwind.css";
@import "./hljs/vs2015.css";

@font-face {
	font-family: "Lilita One";
	src: url("./fonts/LilitaOne-Regular.ttf");
	font-display: swap;
}

:root {
	--headerbar-height: 2.5rem;
	--header-height: 4.5rem;
	--c-back: white;
	--c-back-2: var(--zinc-100);
	--c-back-3: var(--zinc-200);
	--c-primary: var(--zinc-900);
	--c-secondary: var(--green-700);
	--c-link: var(--orange-600);
	--c-link-hover: var(--orange-500);
	--c-btn-back: var(--zinc-200);
}

.dark-mode {
	--c-back: var(--zinc-900);
	--c-back-2: var(--zinc-800);
	--c-back-3: var(--zinc-700);
	--c-primary: white;
	--c-secondary: var(--green-500);
	--c-link: var(--orange-400);
	--c-link-hover: var(--orange-300);
	--c-btn-back: var(--zinc-700);
}

@media (max-width: 640px) {
	:root {
		--headerbar-height: 2rem;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-sans);
	background-color: var(--c-back);
	color: var(--c-primary);
}

@media (max-width: 768px) {
	body.mobile-menu-visible {
		overflow-y: hidden;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	color: inherit;
}

* {
	box-sizing: border-box;
}

div[data-nextjs-scroll-focus-boundary] {
	flex: 1;
}

hr {
	border-top: 2px solid var(--c-back-3);
}