.container h2 {
    margin: 3rem 0 1.5rem;
    text-align: left;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: var(--c-secondary);
    filter: var(--drop-shadow-md);
}

.container h3 {
    margin: 2rem 0 1rem;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--c-secondary);
    filter: var(--drop-shadow-md);
}

.container img {
    display: block;
    margin: 0 auto;
    box-shadow: var(--shadow-md);
}

.container blockquote {
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
    border-left: 0.5rem solid var(--neutral-300);
    font-style: italic;
    background-color: var(--c-back-2);
}

.container blockquote p {
    margin: 0;
}

.container blockquote p:first-of-type {
    text-indent: 0;
}

.container blockquote img {
    margin: 0;
}

.container code {
    color: var(--amber-600);
}

.container pre>code {
    display: block;
    overflow-x: auto;
    padding: 0.5rem 1em;
    font-family: var(--font-mono);
    font-size: large;
    background-color: var(--neutral-800);
    color: white;
}

.container pre+pre {
    margin-top: 1rem;
}