.heading {
    margin: 1rem 0;
    text-align: left;
}

.infoContainer {
    /* margin-bottom: 1rem; */
    padding-top: 1rem;
    border-top: 1px solid var(--neutral-200);
}

.coverImageContainer {
    /* Necessary for next/image */
    position: relative;
    height: 20rem;
    margin-top: 1rem;
    background-color: black;
}

.coverImageContainer img {
    object-fit: contain;
}