.backLink {
    display: flex;
    align-items: baseline;
    gap: 0.125rem;
    text-transform: uppercase;
    font-size: large;
    font-weight: var(--font-normal);
    color: var(--c-link);
}

.backLink svg {
    width: 0.75rem;
    height: 0.75rem;
}

.heading {
    margin: 1rem 0;
    text-align: left;
}

.infoContainer {
    /* margin-bottom: 1rem; */
    padding-top: 0.5rem;
    border-top: 1px solid;
}

.coverImageContainer {
    /* Necessary for next/image */
    position: relative;
    height: 20rem;
    margin-top: 1rem;
    background-color: black;
}

.coverImageContainer img {
    object-fit: contain;
}