.heading {
    margin: 1rem 0;
    text-align: left;
    transform-origin: left;
}

.infoContainer {
    /* margin-bottom: 1rem; */
    padding-top: 1rem;
    border-top: 1px solid var(--neutral-200);
}

.coverImageContainer {
    /* Necessary for next/image */
    position: relative;
    height: 20rem;
    margin-top: 1rem;
    background-color: black;
    opacity: 0;
    animation: fade 0.5s 0.1s forwards, scaleIn 1s;
}

.coverImageContainer img {
    object-fit: contain;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}